<div class="footer-section">
    <div class="footer-slider">
        <div class="" style="text-align: center;padding-bottom: 10px;">
				<div class="footer-wrapper-animation">
					
					<span class="text-animation" style="font-size:5.85vw">
							streetwear brand limite</span>	
					</span>
                    <span class="text-animation" style="font-size:5.85vw">
							streetwear brand limite</span>	
					</span>
                    <span class="text-animation" style="font-size:5.85vw">
							streetwear brand limite</span>	
					</span>
                    <span class="text-animation" style="font-size:5.85vw">
							streetwear brand limite</span>	
					</span>
                    <span class="text-animation" style="font-size:5.85vw">
							streetwear brand limite</span>	
					</span>
                    <span class="text-animation" style="font-size:5.85vw">
							streetwear brand limite</span>	
					</span>
                    <span class="text-animation" style="font-size:5.85vw">
							streetwear brand limite</span>	
					</span>
                    <span class="text-animation" style="font-size:5.85vw">
							streetwear brand limite</span>	
					</span>
                    <span class="text-animation" style="font-size:5.85vw">
							streetwear brand limite</span>	
					</span>	
				</div>
		</div>
    </div>
    <footer class="footer-content">
        <div class="row">
            <div class="col-lg-3">
                <h3 class="footer__heading">HỆ THỐNG CỬA HÀNG HADES</h3>

                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">HADES STUDIO FLAGSHIP STORE: 69 QUANG TRUNG STREET, GO VAP DISTRICT, HOCHIMINH.</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Store 2: 26 LY TU TRONG STREET, DISTRICT 1, HOCHIMINH (THE NEW PLAYGROUND).</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Store 3: 350 DIEN BIEN PHU STREET, WARD 7, BINH THANH DISTRICT, HOCHIMINH (G-TOWN).</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Store 4: 140 NGUYEN HY QUANG, DONG DA DISTRICT, HANOI.</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Store 5: 4 PHAM NGU LAO STREET, DISTRICT 1, HOCHIMINH.</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3">
                <h3 class="footer__heading">CHÍNH SÁCH</h3>

                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính sách sử dụng website</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Phương thức thanh toán</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính sách giao nhận - vận chuyển</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính sách bảo mật</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Điều khoản dịch vụ</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-3">
                <h3 class="footer__heading">THÔNG TIN LIÊN HỆ</h3>

                <ul class="footer-list">
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính sách sử dụng website</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Phương thức thanh toán</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính sách giao nhận - vận chuyển</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Chính sách bảo mật</a>
                    </li>

                    <li class="footer-item">
                        <a href="" class="footer-item__link">Điều khoản dịch vụ</a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-3">

            </div>
        </div>

    </footer>
    <div class="footer__bottom">
        <div class="grid">
            <p class="copyright">© 2025 - Bản quyền thuộc về HADES</p>              
        </div>
    </div>
</div>
